@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

table{
    background-color: #161618;
}

tr:hover{
    background-color: #505051;
}

.selected{
    background-color: #505051;
}